
.FullApp
{

    height: 100dvh;
    width: 100dvw;

    position: fixed;
    top:0;
    left:0;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    background-color: yellow;


    .Left{

      height: 100%;
      width: 5%;

        .Icons{

        height: 100%;
        width: 100%;
        background-color:#f0f2f5;
        position: relative;

      

        


        .start
        {
          position: absolute;
          top:0;

          height: 70%;
          width: 100%;

          

          display: flex;
          flex-direction: column;
          align-items: center;




          .Icon{
            height: 70px;
            width: 70px;
            margin-top: 20%;

            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.1);
         
  
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 50%;

            font-size: xx-large;

            cursor: pointer;
  
          }

          .Icon:hover {
            background-color: #25d3659a;
          }

         
        }

       
      

        .end{

          position: absolute;
          bottom: 0;


          height: 30%;
          width: 100%;

    

          display: flex;
          flex-direction: column-reverse;
          align-items: center;



          .Icon{
            height: 70px;
            width: 70px;
            margin-bottom: 20%;

            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.1);

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 50%;

            font-size: xx-large;

            cursor: pointer;

  
          }

          .Icon:hover {
            background-color: #25d3659a;
          }



        }



      }


    }

    .Middle{

      width: 40%;
      height: 100vh;

      .Chats{


        height: 100vh;
        width: 100%;
       
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.115);
      
        display: flex;
        flex-direction: column;
        align-items: center;

        .Nav{

          background-color: #fff;
          height: 12%;
          
          width: 100%;

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          
        
          .NavLeft{
            margin-left: 20px;


            .Charts{
              font-size: xx-large;
              font-weight: 700;
            }


          }

          .NavRight{
            width: 60%;
            margin-right: 20px;
            display: flex;
            flex-direction: row-reverse;
            background-color: #fff;


            .Icon{
              height: 70px;
              width: 70px;
              margin-left: 10px;
    
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;

              font-size: xx-large;
  
    
            }



          }


        }

        .Search
        {

          width: 100%; 
          height: 8%;
          background-color: #ffffff;

          display: flex;
          justify-content: center;
          align-items: center;


          .SearchBox{
            background-color:#f0f2f5;
            width: 100%;
            height: 50px;

            margin-inline: 20px;

            border-radius: 14px;


            display: flex;
            justify-content: center;
            align-items: center;

            border: 1px solid rgba(0, 0, 0, 0.096);


            .SearchBack{
               width : 10%; 
               height: 100%;
               border : none;

               font-size: xx-large;
               display: flex;
               justify-content: center;
               align-items: center;

               

               background-color: transparent;
                color: rgba(0, 0, 0, 0.45);
                cursor: pointer;

            }
            .SearchBar{
              width: 90%;
              height: 100%;
              border: none;
              background-color: transparent;
              outline: none;
              font-size: x-large;
            }




            
          }



        }
        .List{
          background-color: black;
          background-color: transparent;
          width: 100%;
          height: 8%;
          display: flex;
          justify-content: flex-start;
          align-items: center;

        

          .ListItem{
           margin-left: 20px;
           background-color:#f0f2f5;
           padding-block: 10px;
           padding-inline: 20px;
           border-radius: 25px;
           border: 1px solid rgba(0, 0, 0, 0.05);
          }


        }


        .Users{
          width: 100%;
          height: 72%;
          /* display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center; */

          /* flex-grow: 1; */
          overflow-y: auto;

          
          .UserBoxs:hover
          {
            background-color: #f0f2f5;
          }

          .User{
            height: 100px;
            width: 100%;
            /* margin-top: 2px; */

            /* background-color: pink; */
           

            padding-block: 4px;

            display: flex;
            align-items: center;

            cursor: pointer;

            .PhotoBox{
        
              height: 100%;
              width: 20%;
              display: flex;
              align-items: center;
              justify-content: center;


              .Photo{

                height: 80px;
                width: 80px;
                background-color: black;
                border-radius: 50%;

              }

            }

           


            .MessagesInfo{

              height: 80%;
              width : 80%;
        
              display: flex;
              justify-content: center;
              flex-direction: column;
              align-items: center;

              

              .NameBox{
                height: 50%;
                width: 100%;

                
                display: flex;
                justify-content: space-between;
                align-items: center;

                .Name{
                  font-size: x-large;
                  font-weight: 400;
                  color: rgba(0, 0, 0, 0.75);
                }



              }

              .NameBox *{
                margin-inline: 15px;
              }

              .MessageBox{
                height: 50%;
                width: 100%;


                display: flex;
                justify-content: space-between;
                align-items: center;


                .UnreadCount{
                  background-color: #25D366;
                  width: 30px;
                  height: 30px;

                  display: flex;
                  justify-content: center;
                  align-items: center;

                  border-radius: 50%;
                  color: white;



                }

                


              }

              .MessageBox *{
                margin-inline: 15px;
              }




            }

           


          }


          .LineBox{

           
           
            height: 1px;
            width: 100%;
            display: flex;

            .Empty
            {
                width: 20%;
               
                height: 1px;
            }
            .Line{

                width: 80%;
                background-color: rgba(0, 0, 0, 0.263);
                border-radius: 50%;
                height: 1px;

            }

          }


        }



      }


      .Status{

        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        .StatusHeader{
          background-color: white;
          height: 11%;
          width: 100%;

          display: flex;
          justify-content: space-between;
          align-items: center;


          .StatusLabel{
            
            height: 100%;
            width: 18%;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: xx-large;
            font-weight: 750;


          }

          .StatusButtons{

          
            height: 100%;
            width: 25%;

            display: flex;
            justify-content: space-evenly;
            align-items: center;

            font-size: xx-large;

          }


        }
        .StatusBar{
          background-color: pink;
          height: 89%;
          width: 100%;

          overflow-y: auto;



          .MyStatus{
            background-color: white;
            height:13%;
            margin-bottom: 2%;

            display: flex;

            .StatusPhotoBox{
        
              height: 100%;
              width: 15%;
              display: flex;
              align-items: center;
              justify-content: center;


              .StatusPhoto{

                height: 70px;
                width: 70px;
                background-color: black;
                border-radius: 50%;

              }

            }

            .StatusMessagesInfo{
                width: 85%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .MyStatusName{
            
                  height: 30%;
                  width: 100%;

                  display: flex;
                  align-items: center;

                  font-size: x-large;



                }

                .StatusClick{
  
                  height: 30%;
                  width: 100%;
                  display: flex;
                  align-items: center;
                  font-size: large;



                }




            }
      
          }

          .StatusBox{

            /* background-color: blue; */
    
            width: 100%;


              .StatusVideoBox{
                background-color: white;
                width: 100%;

                display: flex;
                flex-direction: column;


                .OthersStatus{
                  background-color: white;
                  margin-block: 15px;

                  display: flex;
      
                  .OthersStatusPhotoBox{
              
                    height: 100%;
                    width: 15%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
      
      
                    .OthersStatusPhoto{
      
                      height: 70px;
                      width: 70px;
                      background-color: black;
                      border-radius: 50%;
                      border: 2px solid blue;
      
                    }
      
                  }
      
                  .OthersStatusMessagesInfo{
                      width: 85%;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
      
                      .OthersMyStatusName{
                  
                        height: 50%;
                        width: 100%;
      
                        display: flex;
                        align-items: center;
      
                        font-size: x-large;
      
      
      
                      }
      
                      .OthersStatusClick{
        
                        height: 40%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        font-size: large;
      
      
      
                      }
      
      
      
      
                  }
            
                }


                .LineBox{

           
           
                  height: 1px;
                  width: 100%;
                  display: flex;
      
                  .Empty
                  {
                      width: 15%;
                     
                      height: 1px;
                  }
                  .Line{
      
                      width: 85%;
                      background-color: rgba(0, 0, 0, 0.263);
                      border-radius: 50%;
                      height: 1px;
      
                  }
      
                }




              }


          }


        }

      }



    }


    .Right{
      height: 100%;
      width: 55%;
      background-color: #f0f2f5;
      
     
      

      .MessagePart
      {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: red;

          .Top
          {
            height: 11%;
            width: 100%;
            background-color: #f0f2f5;
              display: flex;
              align-items: center;
              .RightPhoto{

                height: 100%;
                width: 14%;

                display: flex;
                align-items: center;
                justify-content: center;

                .RPhoto{
                  width: 80px;
                  height: 80px;
                  background-color: black;
                  border-radius: 50%;
                }


              }

              .RightName{

                height: 100%;
                width: 70%;

                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: center;

                .RName{
                  font-size: x-large;
                }

                .RInfo{
                  color: rgba(0, 0, 0, 0.56);
                  font-size: large;
                }


              }
              .RightName *{
                padding-block: 5px;
              }

              .RightIcons{

                height: 100%;
                width: 16%;
              

                display: flex;
                align-items: center;
                justify-content: space-around;


                font-size: xx-large;


              }

          }

          .Center
          {


            height: 78%;
            width: 100%;
            background-color: #e0e0e0;

            display: flex;
            flex-direction: column-reverse;
            align-items: flex-end;

            overflow-y: auto;
          

            .RMess{
             
              background-color: #d9fdd3;
              padding-inline: 16px;
              padding-block: 5px;
              border-radius: 15px;
              font-size: large;
              margin: 10px;
              text-align: center;

            }


          }



          .Bottom
          {
            height: 11%;
            width: 100%;
            background-color: #f0f2f5;


            display: flex;
            align-items: center;
            justify-content: space-between;

            .Plus,.Mic{
              width: 12%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: xx-large;

              color: rgba(0, 0, 0, 0.65);
             
            }

            .InputBar{
              background-color: #ffffff;
              width: 76%;
              height: 55%;
              border-radius: 10px;
              border: 1px solid rgba(0, 0, 0, 0.075);

              display: flex;
              align-items: center;

              .Sticker{
                height: 100%;
                width: 10%;
                background-color: transparent;
                border: none;
                font-size: xx-large;
                color: rgba(0, 0, 0, 0.75);

                display: flex;
                align-items: center;
                justify-content: center;

              }
              .RInput{
                height: 100%;
                width: 90%;
                background-color: transparent;
                border: none;
                outline: none;
                font-size: larger;
              }
              

            }

          }

















      }








    }

}


